extends ../layout

block content
  section.adminlist
    .container
      .row
        .users-content-box
          table.table.table-hover.table-bordered
            thead
              tr
                th 用户名
                th 昵称
                th 创建时间
                th 查看
                th 删除
            tbody
              each user in users
                tr(class="user-id-" + user._id)
                  td #{user.username}
                  td #{user.nickname}
                  td #{moment(user.meta.createAt).format('YYYY-MM-DD, HH:mm:ss')}
                  td: a(target="_blank", href="../user/" + user._id) 查看
                  td
                    button.btn.btn-danger.del(type="button", data-id=user._id) 删除
        ul.pagination
          li
            - if (currentPage == 1) {
                span &laquo;
            - }else{
                a(href='/admin/userlist?p=' + (currentPage-2)) &laquo;
            - }           
          - for (var i = 0; i < totalPage; i++) {
            - if (currentPage == (i + 1)) {
                li.active
                  span #{currentPage}
            - }else {
                li
                  a(href='/admin/userlist?p=' + i) #{i + 1}
            - }
          - }
          li
            - if (currentPage == totalPage) {
                span &raquo;
            - }else{
                a(href='/admin/userlist?p=' + (currentPage)) &raquo;
            - } 
        .goback-padding-bottom  
          a.btn.btn-warning(href="/admin") 返回
  include ../includes/footer
  script(src="../js/adminuserlist.js")