extends ../layout

block content
  .container
    .row
      h3.col-md-3 #{post.title}
      .col-md-3.reply-a-height
        .notification-info
          if error
            p #{error}
      .reply-a-height.col-md-6
        span.label.label-primary
          .glyphicon.glyphicon-comment
          a(href="#", data-toggle="modal", data-target="#replyModal") 回复
        - if(user && post.author && user._id.toString() === post.author._id.toString()) {
          span.label.label-primary
            .glyphicon.glyphicon-comment
            a(href="/posts/" + post._id + '/edit') 编辑
          span.label.label-primary
            .glyphicon.glyphicon-comment
            a(href="/posts/" + post._id + '/remove') 删除
        - }
    hr.divider 
    .post-content
      .col-md-2.post-avatar-wrap
         img(src="../upload/" + post.author.avatar)
         p.post-content-nickname #{post.author.nickname}(楼主)
      .col-md-10
         p #{post.content}
         span.post-reply-tail 
           span 1楼
           span &nbsp;
           span #{moment(post.meta.createAt).format('YYYY-MM-DD HH:mm')}
           span &nbsp;
           a(href="#", data-toggle="modal", data-target="#replyModal") 回复
    hr.divider
    each comment in comments
      - i = i + 1;
      .post-content
        .col-md-2.post-avatar-wrap
           img(src="../upload/" + comment.from.avatar)
           p.post-content-nickname #{comment.from.nickname}
        .col-md-10
           p #{comment.content}
           span.post-reply-tail 
             span #{i}楼
             span &nbsp;
             span #{moment(comment.meta.createAt).format('YYYY-MM-DD HH:mm')}
             span &nbsp;
             a.comment(href="#replyModal", data-toggle="modal", data-target="#replyModal", data-cid=comment._id, data-tid=comment.from._id) 回复
        .post-reply-reply
          if comment.reply && comment.reply.length > 0
            each reply in comment.reply
              - if(!reply.from && !reply.to){
                  p 匿名用户 回复了 匿名用户 : #{reply.content}
              - }else if(!reply.to){
                  p #{reply.from.nickname} 回复了 匿名用户 : #{reply.content}
              - }else if(!reply.from){
                  p 匿名用户 回复了 #{reply.to.nickname} : #{reply.content}
              - }else{
                  p #{reply.from.nickname} 回复了 #{reply.to.nickname} : #{reply.content}
                    a.comment(href="#replyModal", data-toggle="modal", data-target="#replyModal", data-cid=comment._id, data-tid=reply.from._id) 回复
                  - }
      hr.divider


  #replyModal.modal.fade
    .modal-dialog
      .modal-content
        form#commentForm(method="POST", action="/posts/" + post._id + "/comment")
          .modal-header 回复
          .modal-body
            .form-group
              label.control-label(for="content") 内容
              textarea.form-control#content(name="content" rows="3")
          .modal-footer
            button.btn.btn-default(type="button", data-dismiss="modal") 关闭
            button.btn.btn-success(type="submit") 提交
  script(src="/js/detail.js")


